<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This site is govt. Administrative site" />
    <meta name="keywords" content="army, military, administrive" />
    <title>Fighter || Team</title>
    <!-- site icon part  -->
    <link rel="shortcut icon" href="images/favicon.jpg" />

    <!-- Boostrap css link part  -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- fontawesome css link part  -->
    <link rel="stylesheet" href="css/all.min.css" />

    <!-- themfy icon css start  -->
    <link rel="stylesheet" href="fonts/themify-icons.css" />

    <!-- animate css link start  -->
    <link rel="stylesheet" href="css/animate.min.css" />

    <!-- owl carousel css start  -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <!-- venubox css link start  -->
    <link rel="stylesheet" href="css/venobox.min.css" />

    <!-- main css link start  -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- responsive css link start  -->
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <!-- preloader start  -->
    <div class="preloader">
      <div class="status">
        <div class="status-mes">
          <h4>Fighter</h4>
        </div>
      </div>
    </div>
    <!-- preloader end  -->
    <div class="wrapper" id="wrapper">
      <!-- header part start  -->
      <header class="">
        <nav class="navbar navbar-expand-lg menubar topmenu">
          <div class="container">
            <a class="navbar-brand" href="index.html">
              <p class="siteLogo">Fighter</p>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services.html">Service</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="team.html">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- header part end  -->

      <main>
        <!-- team part start  -->
        <section class="teamPart pt-200" id="teamPart">
          <div class="container">
            <div class="row">
              <!-- common heading part start  -->
              <div class="col-md-12">
                <div
                  class="commonHeader text-center p-2 wow animate__animated animate_zoomIn"
                  style="visibility: visible; animation-name: zoomIn"
                >
                  <h3>Our <span>Team</span></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam ultrices sapien vel quam luctus pulvinar.
                  </p>
                  <div class="commonBorder">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
              <!-- common heading part end  -->
            </div>
            <div class="row mt-5">
              <div class="col-md-4 mb-2">
                <div class="teamList">
                  <img
                    src="images/team/1.jpg"
                    alt="team1"
                    class="img-fluid w-100"
                  />
                  <div class="teamOverlay text-center">
                    <div class="teamHead">
                      <h4>Douglas Cowell</h4>
                      <p>Comando</p>
                    </div>
                    <div class="teamSocail">
                      <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                      <a href=""><i class="fa-brands fa-google-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="teamList">
                  <img
                    src="images/team/2.jpg"
                    alt="team1"
                    class="img-fluid w-100"
                  />
                  <div class="teamOverlay text-center">
                    <div class="teamHead">
                      <h4>Douglas Cowell</h4>
                      <p>Comando</p>
                    </div>
                    <div class="teamSocail">
                      <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                      <a href=""><i class="fa-brands fa-google-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="teamList">
                  <img
                    src="images/team/3.jpg"
                    alt="team1"
                    class="img-fluid w-100"
                  />
                  <div class="teamOverlay text-center">
                    <div class="teamHead">
                      <h4>Douglas Cowell</h4>
                      <p>Comando</p>
                    </div>
                    <div class="teamSocail">
                      <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                      <a href=""><i class="fa-brands fa-google-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- team part end  -->
      </main>

      <!-- footer part start  -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footerCopy text-center p-2">
                <p>Copyright &copy; by Fighter 2025 | All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer part end  -->
      <div class="scroolBtn">
        <a href="#wrapper"><i class="fas fa-angle-up"></i></a>
      </div>
    </div>

    <!-- jquirey link js start  -->
    <script src="js/jquery-3.7.1.min.js"></script>

    <script>
      const topmenu = document.querySelector('.topmenu');
      window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
          topmenu.classList.add('scrollmenu');
        } else {
          topmenu.classList.remove('scrollmenu');
        }
      });
    </script>

    <!-- counter plugin js link start  -->
    <script src="js/counterup.js"></script>
    <script>
      $(document).ready(function () {
        $('.counter').counterUp();
      });
    </script>

    <!-- isotop filter plugin start  -->
    <script src="js/isotope.pkgd.min.js"></script>

    <script>
      $(window).on('load', function () {
        var $grid = $('.grid');

        // Wait until all images are loaded, then initialize isotope
        $grid.imagesLoaded(function () {
          $grid.isotope({
            itemSelector: '.grid-item',
            layoutMode: 'fitRows',
          });
        });

        // Filter buttons
        $('.filters-button-group').on('click', 'li', function () {
          var filterValue = $(this).attr('data-filter');
          $grid.isotope({ filter: filterValue });
          $('.filters-button-group li').removeClass('is-checked');
          $(this).addClass('is-checked');
        });

        // Relayout when each image loads (extra stability)
        $grid.imagesLoaded().progress(function () {
          $grid.isotope('layout');
        });
      });
    </script>

    <!-- imagesLoaded plugin (important for fixing overlap) -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    <!-- bootstrap js link start  -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- venubox js link start  -->
    <script src="js/venobox.min.js"></script>

    <!-- wow js link start  -->
    <script src="js/wow.min.js"></script>

    <!-- owl carousel js link start  -->
    <script src="js/owl.carousel.min.js"></script>
    <script>
      $('#testSlider').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        dots: true,
        autoPlay: true,
        item: 1,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 1,
          },
          1000: {
            items: 1,
          },
        },
      });
    </script>

    <!-- main js link start  -->
    <script src="js/custom.js"></script>
  </body>
</html>
